* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #534d56;
  color: #f8f1ff;
  font-family: "Share", sans-serif;
}

#navigation {
  display: none;
}

h1,
h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

#nav-wrapper {
  margin-top: 16px;
}

#content-wrapper,
#nav-wrapper,
#intro,
#project-section-wrapper,
.project-name-wrapper,
#footer-contents {
  display: flex;
}

#content-wrapper,
#nav-wrapper,
#intro,
#project-section-wrapper {
  flex-direction: column;
}

#nav-wrapper,
#intro,
#project-section-wrapper {
  max-width: 90%;
}

#content-wrapper,
#nav-wrapper,
#intro {
  align-items: center;
}

#intro {
  margin-top: 32px;
}

#intro-p {
  /* max-width: 90%; */
  font-size: 24px;
  margin-bottom: 24px;
}

#profile-pic {
  max-width: 70%;
  height: auto;
  border-radius: 8px;
}

#james-mobile {
  margin-top: 32px;
  margin-bottom: 16px;
}

.highlight-text {
  color: #20bf55;
}

#divider {
  width: 70%;
  margin: 32px auto;
  height: 2px;
  background-color: #f71735;
  border: none;
}

h2 {
  font-weight: 400;
  margin-bottom: 16px;
  font-size: 28px;
}

#project-divider {
  display: none;
}

.project-wrapper {
  width: 100%;
  margin-bottom: 48px;
  /* background-color: #000; */
}
.project-name-wrapper {
  width: 100%;
  /* background-color: #f71735; */
  align-items: end;
  justify-content: space-between;
  margin-bottom: 16px;
}

h3,
h4 {
  /* background-color: #20bf55; */
  font-weight: 400;
}

.stack {
  margin-bottom: 8px;
}

h3 {
  font-size: 20px;
}

.descripter {
  color: rgba(248, 241, 255, 0.7);
}

.feature {
  margin-left: 16px;
}

#contact-button {
  padding: 8px 16px;
  background-color: #f71735;
  color: #f8f1ff;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  margin-bottom: 48px;
}

#footer-wrapper {
  width: 100%;
}
footer {
  height: 96px;
  background-color: #020202;
}

#footer-contents {
  height: 100%;
  margin: auto 10%;
  justify-content: space-between;
  align-items: center;
}

h5 {
  font-size: 16px;
}

#socials {
  /* background-color:#20bf55; */
}

.social-link {
  margin-left: 16px;
}
