* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #534d56;
  color: #f8f1ff;
  font-family: "Share", sans-serif;
}

#navigation {
  display: none;
}

h1,
h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

#nav-wrapper {
  margin-top: 16px;
}

#content-wrapper,
#nav-wrapper,
#intro,
#project-section-wrapper,
.project-name-wrapper,
#footer-contents {
  display: flex;
}

#content-wrapper,
#nav-wrapper,
#intro,
#project-section-wrapper {
  flex-direction: column;
}

#nav-wrapper,
#intro,
#project-section-wrapper {
  width: 90%;
}

#content-wrapper,
#nav-wrapper,
#intro {
  align-items: center;
}

#intro {
  margin-top: 32px;
}

#intro-p {
  font-size: 24px;
  margin-bottom: 24px;
}

#profile-pic {
  width: 70%;
  max-width: 280px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.8);
}

#james-mobile {
  margin-top: 32px;
  margin-bottom: 16px;
}

.highlight-text {
  color: #20bf55;
}

#divider {
  width: 70%;
  margin: 32px auto;
  height: 2px;
  background-color: #f71735;
  border: none;
}

h2 {
  font-weight: 400;
  margin-bottom: 16px;
  font-size: 28px;
}

#project-divider {
  display: none;
}

.project-wrapper {
  width: 100%;
  margin-bottom: 48px;
}
.project-name-wrapper {
  width: 100%;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 16px;
}

#projects-title {
  white-space: nowrap;
}
h3,
h4 {
  font-weight: 400;
}

.stack {
  margin-bottom: 8px;
}

h3 {
  font-size: 20px;
}

.descripter {
  color: rgba(248, 241, 255, 0.7);
}

.feature {
  margin-left: 16px;
}

#contact-button {
  width: fit-content;
  padding: 8px 16px;
  background-color: #f71735;
  color: #f8f1ff;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  margin-bottom: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

#contact-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#contact-form {
  height: 0;
  /* height: auto; */
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s ease-in;
  width: 90%;
  margin-bottom: 48px;
  font-family: "Open Sans", sans-serif;
  /* display: none; */
}
#form-contents {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
}

.input-group {
  margin: 5px 0px;
  display: flex;
}

.contact-form-input {
  box-sizing: border-box;
  padding: 4px 8px;
  background-color: rgb(230, 250, 230);
  border: solid black 2px;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

.contact-input-group {
  margin: 16px 0px;
}

#message-group {
  flex-direction: column;
}

.contact-form-input:focus {
  outline: none;
  border-color: rgba(247, 23, 53, 0.7);
}

#form-textarea {
  height: 120px;
  max-height: 160px;
  resize: vertical;
  margin-top: 8px;
}

.contact-form-label {
  color: #f8f1ff;
  font-size: 20px;
  width: 25%;
}

#submit-button {
  width: fit-content;
  align-self: end;
  font-size: 20px;
  padding: 4px 24px;
  margin-top: 16px;
  background-color: rgba(50, 220, 50, 0.8);
  color: #f8f1ff;
  border-radius: 16px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
}

#submit-button:active {
  background-color: rgba(0, 0, 0, 0.8);
}

#footer-wrapper {
  width: 100%;
}
footer {
  height: 96px;
  background-color: #020202;
}

#footer-contents {
  height: 100%;
  margin: auto 10%;
  justify-content: space-between;
  align-items: center;
}

h5 {
  font-size: 16px;
}

.linkedin {
  height: 24px;
  width: 24px;
}
.social-link {
  margin-left: 16px;
}

.nav-social-svg:hover,
.nav-social-svg:focus {
  /* stroke: rgb(27, 110, 254); */
  /* stroke:rgba(0, 0, 0, 0.8) */
  stroke: #f71735;
}

@media (min-width: 400px) {
  #contact-form {
    max-width: 380px;
  }
}

@media (min-width: 440px) {
  #intro {
    width: 90%;
    max-width: 460px;
  }

  #divider {
    max-width: 360px;
  }
}

@media (min-width: 880px) {
  #nav-wrapper {
    width: 100%;
    padding: 16px;
  }
  #navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
  }

  #james-mobile {
    display: none;
  }
  #intro {
    flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 1660px;
    margin-bottom: 80px;
  }
  #profile-pic {
    max-width: 340px;
  }

  #intro-p {
    width: 40%;
    font-size: 28px;
  }

  #divider {
    margin: 64px 0px 80px;
    max-width: 480px;
  }

  #project-section-wrapper {
    width: 100%;
  }

  #project-section-header {
    width: 25%;
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-bottom: 32px;
  }
  h2 {
    font-size: 32px;
  }
  .project-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1000px;
    /* background-color: #020202; */
  }
  .project-name-wrapper {
    flex-direction: column-reverse;
    align-items: end;
    justify-content: start;
    width: 25%;
  }
  h3 {
    font-size: 24px;
  }
  .project-details-wrapper {
    width: 50%;
    font-size: 20px;
  }
  #balancer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  #projects-title {
    align-self: end;
    font-size: 28px;
  }
  #empty {
    width: 50%;
  }

  #project-divider {
    display: inline;
    width: 60%;
    background-color: #f8f1ff;
    border: none;
    height: 1px;
  }

  #contact-button {
    margin: 64px auto 106px;
    border-radius: 2px;
    font-size: 24px;
    border-color: #f8f1ff;
  }

  #contact-form {
    max-width: none;
    width: 720px;
    margin: 48px auto 64px;
  }

  #form-contents {
    width: 80%;
    margin: auto;
  }

  #contact-group {
    display: flex;
    justify-content: space-between;
  }

  #message-group {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
  }

  .contact-form-label {
    width: 35%;
  }

  .contact-form-input {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  }

  #form-textarea {
    margin-left: 0px;
    margin-top: 8px;
    width: 100%;
  }

  #submit-button {
    font-size: 24px;
    padding: 8px 40px;
    margin: 48px 0px 16px;
    border-radius: 20px;
  }

  footer {
    height: 240px;
  }
  h5 {
    font-size: 24px;
  }
  .hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1.5s;
  }

  .hidden-right {
    opacity: 0;
    filter: blur(0px);
    transform: translateX(-100%);
    transition: all 1.5s;
  }

  .hidden-left {
    opacity: 0;
    filter: blur(0px);
    transform: translateX(100%);
    transition: all 1.5s;
  }

  .delay {
    transition-delay: 1s;
  }

  .show {
    opacity: 1;
    filter: blur(0);
  }

  .show-left {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
  }

  .show-right {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
  }

  .features li:nth-child(2) {
    transition-delay: 200ms;
  }

  .features li:nth-child(3) {
    transition-delay: 400ms;
  }

  .features li:nth-child(4) {
    transition-delay: 600ms;
  }

  .features li:nth-child(5) {
    transition-delay: 800ms;
  }
}

@media (min-width: 1220px) {
  #intro {
    max-width: 960px;
  }
  #project-section-wrapper {
    max-width: 960px;
  }
  #footer-contents {
    margin: auto;
    max-width: 960px;
    justify-content: space-around;
  }
  .social-link {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 1600px) {
  #navigation {
    max-width: 1440px;
  }
}
