#toast-success {
  background-color: rgba(50, 200, 50, 0.5);
}

#toast-fail {
  background-color: rgba(247, 23, 53, 0.65);
}

.toast {
  position: absolute;
  right: 8px;
  bottom: 8px;
  display: none;
  box-sizing: border-box;
  border: solid 1px black;
  padding: 8px 12px;
  align-items: center;
  text-wrap: nowrap;
  color: #f8f1ff;
  font-size: 16px;
  opacity: 1;
}

.show-toast {
  display: flex;
  justify-content: space-around;
}
.toast-fade {
  opacity: 0;
  transition: opacity 1s ease-out 1.75s;
}

.toast-message {
  margin-left: 8px;
}
